body{
    margin: 0;
}
header{
    width: 100%;
    height: 100px;
}
#logo{
    width: 170px;
    height: 60px;
    position: relative;
    top: 20px;
    left: 100px;
}
.logintext{
    font-size: 30px;
    position: relative;
    top: -45px;
    left: 200px;
}
.login-bamer{
    width: 100%;
    height: 475px;
    background-color: brown;
}
.login-advertising{
    width: 990px;
    height: 475px;
    background-image: url(./京东-欢迎登录_files/a33369e6f48640eb.jpg);
    margin: 0 auto;
}
.login-form{
    width: 364px;
    height: 437px;
    background-color: white;
    position: relative;
    top: 10px;
    right: -625px;
    display: flex;
    justify-content: space-evenly;
}
.login-tab{
    width: 173px;
    height: 55px;
    text-align: center;
    line-height: 55px;
    border-bottom: 1px solid gainsboro;
    padding: 0 10px;
    background: #fff;
    /* display: block; */
}
.login-bamer .login-advertising .login-form .login-tab a{
    font-size: 18px;
    color: black;
    text-decoration: none;
}
.login-bamer .login-advertising .login-form .login-tab .checked{
    color: brown;
}
.login-tab-left{
    border-right: 1px solid gainsboro;
}
